@import "docs/tiktok-sans.css";
@import "tailwindcss";
@config "./tailwind.config.mjs";

:root {
  --color-gray-150: hsl(210, 44%, 97%);
  --color-gray-250: hsl(210, 40%, 93.5%);
  --color-gray-550: hsl(218, 20%, 63%);
  --color-gray-600: hsl(217, 19%, 45%); /* Added gray-600 */
  --color-gray-650: hsl(216, 15%, 48%);
  --color-gray-700: hsl(215, 19%, 35%);
  --color-gray-750: hsl(214, 17%, 32%);
}

@variant print {
  @page {
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color: black !important;
  }

  .page {
    padding: 0 !important;
  }

  .initial {
    color: transparent !important;
    text-shadow: 0 0 0 #fff !important;
  }

  h1, h2, h3, p, li {
    color: black !important;
  }

  html {
    font-size: 12.288px !important;
  }
}

html {
  font-size: 13.176471px;
}

/* For Letter size */

@variant sm {
  html {
    font-size: calc( 13.176471px + (16 - 13.176471) * (100vw - 640px) / (833 - 640) );
  }
}

@variant md {
  html {
    font-size: calc( 12.288px + (16 - 12.288) * (100vw - 833px) / (1079.5 - 833) );
  }
}

/* For A4 size */

/* @variant sm {
  html {
    font-size: calc( 13.176471px + (16 - 13.176471) * (100vw - 640px) / (811 - 640) );
  }
}

@variant md {
  html {
    font-size: calc( 12.288px + (16 - 12.288) * (100vw - 811px) / (1051 - 811) );
  }
} */

@variant lg {
  html {
    font-size: 16px;
  }
}

.initials-container {
  min-width: 2.31rem;
}

body .icon-parent::before {
  content: "A";
  width: 0px;
  visibility: hidden;
  display: inline-block;
}

.break-after-avoid {
  break-after: avoid;
}